{
  email ops@certscore.ai
}

http://34.69.91.225 {
  reverse_proxy 127.0.0.1:3000
}

www.certscore.ai {
  redir https://certscore.ai{uri} permanent
}

certscore.ai {
  reverse_proxy 127.0.0.1:3000
}
